body {
    background-color: #39762A;
    height: 100%;
    width: 100%;
}
/*DESKTOP 1*/

.desktop-1 {
    width: 100%;
}

.desktop-1-notShow {
    display: none;
}

.patada-viwii-padre {
    width: 60%;
    margin: 0 auto;
}

.patada-viwii {
    border: 2px solid #eb2f06;
    border-radius: 7px;
    background-color: #d9d9d9;
    color: #3d3d3d;
    text-align: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10%;
}


.comenzar-partida-padre {
    width: 20%;
    margin: 0 auto;
    cursor: pointer;
}

.comenzar-partida {
    border: 2px solid #eb2f06;
    border-radius: 7px;
    background-color: #a79327;
    color: #ecf0f1;
    text-align: center;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
    margin-top: 70%;
}


/*DESKTOP 2*/

.desktop-2 {
  display: none;  
}



.box-padre {
    width: 40%;
    margin: 0 auto;
    font-size: 20px;
}

.box {
    border: 2px solid #eb2f06;
    border-radius: 7px;
    background-color: #a79327;
    color: #ecf0f1;
    text-align: center;
    align-items: center;
    padding: 20px;
    margin-top: 10%;
}

#quien-eres {
    border: 2px solid #eb2f06;
    border-radius: 5px;
    background-color: #ecf0f1;
    width: 200px;
    height: 30px;
    color: #eb2f06;
}

label:not(.label-not) {
    cursor: pointer;
    padding: 0 40px;
}

.fotos {
    width: 120px;
    border-radius: 120px;
    padding: 0 20px;
}

.submit-div {
    display: flex;
    justify-content: center;
}

.submit-1 {
    border: 2px solid #EA2027;
    border-radius: 5px;
    background: #EA2027;
    width: 10%;
    margin: 35px 0;
    padding: 10px 0;
    color: #ecf0f1;
    font-weight: bold;
    font-size: 20px;
}

input[type = "radio" ] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type = "radio" ]:checked + label {
    color: green
}