body {
    width: 1420px;
    height: 710px;
}
.fondo {
    position: relative;
    z-index: -10;
}
.up-to-face {
    margin-top: -553px;
    position: relative;
    z-index: -10;
    background-color: red;
}

.inaki1 {
    z-index: 10;
    margin-bottom: -606px;
    margin-left: 60px;

}

.inaki2 {
    z-index: 10;
    margin-bottom: -359px;
    margin-left: 35px;
}

.inaki3 {
    z-index: 10;
    margin-bottom: -710px;
    margin-left: -10px;
}

.inaki4 {
    z-index: 10;
    margin-bottom: -530px;
    margin-left: 80px;
}

.inaki5 {
    z-index: 10;
    margin-bottom: -378px;
    margin-left: 200px;
}

.inaki6 {
    z-index: 10;
    margin-bottom: -694px;
    margin-left: -80px;
}

.victor1 {
    z-index: 10;
    margin-bottom: -608px;
    margin-left: -1155px;
}

.victor2 {
    z-index: 10;
    margin-bottom: -360px;
    margin-left: 50px;
}

.victor3 {
    z-index: 10;
    margin-bottom: -710px;
    margin-left: 0px;
}

.victor4 {
    z-index: 10;
    margin-bottom: -530px;
    margin-left: 90px;
}

.victor5 {
    z-index: 10;
    margin-bottom: -378px;
    margin-left: 210px;
}

.victor6 {
    z-index: 10;
    margin-bottom: -695px;
    margin-left: -80px;
}

.wilson1 {
    z-index: 10;
    margin-bottom: -607px;
    margin-left: -1150px;
}

.wilson2 {
    z-index: 10;
    margin-bottom: -360px;
    margin-left: 30px;
}

.wilson3 {
    z-index: 10;
    margin-bottom: -710px;
    margin-left: -12px;
}

.wilson4 {
    z-index: 10;
    margin-bottom: -530px;
    margin-left: 90px;
}

.wilson5 {
    z-index: 10;
    margin-bottom: -379px;
    margin-left: 195px;
}

.wilson6 {
    z-index: 10;
    margin-bottom: -695px;
    margin-left: -85px;
}


/*////////////////////////DESKTOP///////////////////////*/

.who-face-pattle {
    background-color: #3A762B;
    width: 1420px;
    height: 710px;
    padding-top: 250px;
}

.who-box {
    background-color: #A79328;
    text-align: center;
    width: 40%;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 2px solid #eb2f06;
}

.who-box h2{
    color: white;
    border-bottom: 1px solid rgb(233, 233, 233);
    padding-bottom: 20px;
  
}

.flex-box {
    display: flex;
    justify-content: space-evenly;
    padding-left: 40px;
}

.flex-box label {
    padding-top: 8px;
    font-size: 20px;
    font-weight: bold;
    color: #D9D9D9;
    cursor: pointer;
    padding-right: 30px

}

.flex-box input {
    cursor: pointer;
    width: 20px;
}

.img-people {
    margin: 20px;
    width: 120px;
    border-radius: 120px;
}

.play-button {
    background: #CD0707;
    width: 200px;
    height: 4vh;
    border-radius: 10px;
    border: 1px solid #CD0707;
    color: white;
    font-size: 30px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}